:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
    font-size: 16px;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Page index */

.logo-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-black {
    color: var(--color-navy-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*.menu {
    font-weight: 500;
    line-height: 1.5;
} */

.menu__list-link{
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.menu__list-link:hover,
.menu__list-link:focus {
    color: var(--color-ocean);
}

.header__contacts {
    font-style: normal;
}

.header__contacts-link {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.header__contacts-link:hover,
.header__contacts-link:focus {
    color: var(--color-ocean);
}

.general__section-order {
    background-color: var(--color-navy-blue);
}

.general__section-title {
    color: var(--color-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.general__section-button {
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.general__section-button:hover,
.general__section-button:focus {
    background-color: var(--color-ocean);
}

.benefits__list-title {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits__list-text {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.works__section-title {
    color: var(--color-navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team__section {
    background-color: var(--color-cloud);
}

.team__section-title {
    color: var(--color-navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team__list {
    background-color: var(--color-white);
}

.team__list-item {
    background-color: var(--color-white);
}

.team__list-title {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team__list-text {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: var(--color-navy-blue);
}

.footer__text {
    color: var(--color-cloud);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.logo-white{
    color: var(--color-cloud);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Page Portfolio */

.gallery__filter-button {
    color: var(--color-iris);
    background-color: var(--color-cloud);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.gallery__filter-button:hover,
.gallery__filter-button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}

.gallery__main-title {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.gallery__main-text {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}